@import "theme.css";
@import "reset.css";

section#hero {
    padding: var(--margin);

    h1 {
        margin: 3rem 0;
    }

    h2 {
        margin: 10rem 0 2rem 0;
        width: 70%;
    }
}

section#tasks {
    padding: var(--margin);
    h2 {
        margin-bottom: 2rem;
        font-size: var(--fs-medium);
        font-weight: 600;
        line-height: 1.2;
    }
    ul li {
        list-style: inside;
        list-style-type: circle;
        line-height: 2;
    }
}