@font-face {
    font-family: Jost;
    src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
    font-style: normal;
}

@font-face {
    /* Font de secours - très ressemblante à Jost*/
    font-family: Renner-Book;
    src: url('../fonts/Renner-Book.ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {

    /* LIGHT Theme Colors*/
    --color-light-bg: rgb(255, 255, 255);
    --color-dark-bg: rgb(14, 14, 14);
    --color-grey: hsl(0, 0%, 77%);
    --color-light-primary: rgb(231, 244, 255);
    --color-dark-primary: rgb(19, 73, 118);
    --color-primary: rgb(53, 145, 220);
    --color-accent: rgb(212, 151, 38);
    --color-accent-hover: rgb(169, 121, 33);

    /* DARK Theme Colors*/
    .page:has(input#dark:checked) {
        /* regarde si le bouton dark est coché */
        --color-light-bg: rgb(22, 22, 22);
        --color-dark-bg: rgb(255, 255, 255);
        --color-grey: hsl(0, 0%, 64%);
        --color-light-primary: rgb(27, 47, 65);
        --color-dark-primary: rgb(182, 212, 237);
        --color-primary: rgb(53, 145, 220);
        --color-accent: rgb(212, 151, 38);
        --color-accent-hover: rgb(211, 169, 91);
    }

    /* FONT SIZES */
    --fs-huge: 12vw;
    --fs-large: 3rem;
    --fs-medium: 1.5rem;
    --fs-base: 1rem;
    --fs-small: 0.6rem;

    /* GAPS */
    --margin: 3rem;
}

html {
    font-size: 20px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    background: linear-gradient(var(--color-light-bg), var(--color-light-primary));
    min-height: 100vh;

    h1 {
        font-size: var(--fs-huge);
        color: var(--color-grey);
        font-weight: 400;
        line-height: 1;
    }

    h2 {
        font-size: var(--fs-medium);
        color: var(--color-dark-bg);
        font-weight: 600;
        line-height: 1.2;
    }

    p,
    li {
        color: var(--color-dark-bg);
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: var(--margin);

        div.nav-menu {
            color: var(--color-dark-bg);

            a {
                margin-right: 2rem;
            }
        }

        fieldset {
            color: var(--color-dark-bg);
            padding: 0.5rem 2rem 0.5rem 0.5rem;
        }
    }

    a.button {
        background: var(--color-grey);
        color: var(--color-light-bg);
        padding: 1rem;
        border-radius: 30px;
        border: solid 2px var(--color-light-bg);
    }
}