@import "theme.css";
@import "reset.css";

nav {
    padding: 1rem;
}

section#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;

    div.project {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: rgb(241, 246, 255);
        gap: 1rem;
        padding: 2rem;
        border-radius: 20px;

        img {
            flex-grow: 1;
            object-fit: cover;
        }

        a.button {
            position: absolute;
            bottom: 10%;
            width: 50%;
            align-self: center;
            text-align: center;

            &:hover {
                background-color: blueviolet;

                a {
                    color: white;
                }

                transition: 0.5s;
            }
        }
    }
}