@import "theme.css";
@import "reset.css";

section#intro {
    margin: 0 0 var(--margin) var(--margin);

    h1 {
        margin-bottom: 5rem;;
    }

    p a {
        color: var(--color-dark-primary);
    }
}
section#project-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;

    div.project {
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 600px;
        background-color: var(--color-light-bg);
        gap: 1rem;
        padding: 2rem;
        border: solid 2px var(--color-dark-primary);
        border-radius: 20px;

        h2 span {
            font-weight: 400;
            font-size: var(--fs-base);
        }

        h3 {
            color: var(--color-grey);
            font-weight: 400;
        }

        img {
            flex-grow: 1;
            object-fit: cover;
            overflow: hidden;
        }

        a.button {
            background-color: var(--color-dark-primary);
            border: none;
            position: absolute;
            bottom: 10%;
            width: 50%;
            align-self: center;
            text-align: center;

            &:hover {
                background-color: var(--color-accent);

                a {
                    color: var(--color-light-bg);
                }

                transition: 0.5s;
            }
        }
    }
}